<div class="container">
  <div class="row offset-1 my-3">
    <h3>注文履歴詳細</h3>
  </div>
  <div class="row">
    <table class="table table-borderless">
      <tr>
        <th>購入者</th>
        <td><%= @order.member.last_name %> <%= @order.member.first_name %></td>
      </tr>
      <tr>
        <th>注文日</th>
        <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
      <tr>
        <th>配送先</th>
        <td>〒<%= @order.post_code %> <%= @order.address %><br>
              <%= @order.name %>
        </td>
      </tr>
      <tr>
        <th>支払方法</th>
        <td><%= @order.payment_method_i18n %></td>
      </tr>
      <tr>
        <th>注文ステータス</th>
        <td>
          <%= form_with model: @order, url: master_order_path(@order.id), local:true do |f| %>
                  <%= f.select :order_status, Order.order_statuses_i18n.invert %>
                  <%= f.submit '更新', class: "btn btn-sm btn_success" %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <div class="row">
    <div class="col-8">
      <table class="table table-bordered">
        <thead class="table-active">
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_items.each do |order_item| %>
            <tr>
              <td><%= order_item.item.name %></td>
              <td><%= order_item.item.taxin_price.floor.to_s(:delimited) %></td>
              <td><%= order_item.count %></td>
              <td><%= (order_item.item.taxin_price.floor * order_item.count).to_s(:delimited) %></td>
              <td>
                <%= form_with model: order_item, url: master_order_item_path(order_item.id), local:true do |f| %>
                  <%= f.select :make_status, OrderItem.make_statuses_i18n.invert %>
                  <%= f.submit '更新', class: "btn btn-sm btn_success" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-3 offset-1">
      <table class="table table-borderless">
        <tr>
          <th>商品合計</th>
          <td><%= (@order.final_price - @order.shipping).to_s(:delimited) %></td>
        </tr>
        <tr>
          <th>送料</th>
          <td><%= @order.shipping %>円</td>
        </tr>
        <tr>
          <th>請求金額合計</th>
          <td><%= @order.final_price.floor.to_s(:delimited) %>円</td>
        </tr>
      </table>
    </div>
  </div>
</div>