<div class="container">
  <div class="row">
    <%= render 'master/genres/genre', genres: @genres %>
    <div class="col-8 offset-1">
      <div class="homes_top mt-4">
        <div class="carousel slide" data-ride="carousel"  class="w-100">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/berry-cake-gc3f06ff43_1920.jpeg" alt="First slide" >
                  <div class="carousel-caption" style="top:50px">
                    <p class="text-background-test01">ようこそ、ながのCAKEへ！</p>
                  </div>
              </div>
              <div class="carousel-item">
                <img src="assets/cake-gf7fe55781_1920.jpeg" alt="Second slide">
                  <div class="carousel-caption" style="top:50px">
                    <p class="text-background-test01">このサイトは、ケーキ販売のECサイトになります。</p>
                  </div>
              </div>
              <div class="carousel-item">
                <img src="assets/cake-g11b326a76_1920.jpeg" alt="Third slide">
                  <div class="carousel-caption" style="top:50px">
                    <p class="text-background-test01">
                      会員ではない方も商品の閲覧はできますが、<br>
                      購入には会員登録が必要になります。
                    </p>
                 </div>
              </div>
            </div>
        </div>
      <h4 class="my-1 ">新着商品</h4>
      <div class="row">
        <% @items.each do |item| %>
          <div class="col-md-3">
            <%= link_to item_path(item) do %>
              <%= attachment_image_tag(item, :image,:fill, 170, 140, fallback: "no-image.jpg") %><br>
            <% end %>
            <%= item.name %><br>
            <%= item.price %>円
          </div>
        <% end %>
        <div class="item-link">
          <%= link_to "全ての商品を見る＞", items_path,class:"link" %>
        </div>
      </div>
    </div>
  </div>
</div>