<div class="container">
  <div class="row">
    <div class="container mt-4">
      <div class="col-12">
        <h4 class="mb-3">会員一覧</h4>
        <table class="table">
          <thead>
            <tr>
              <th>会員ID</th>
              <th>氏名</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
          <% @members.each do |member| %>
            <tr>
              <td><%= member.id %></td>
              <td><%= member.last_name %></td>
              <td><%= member.email %></td>
              <td><%= member.member_status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
      <div class="pagination"><%= paginate @members %></div>
    </div>
  </div>
</div>