<div class="container">
  <div class="row">
    <div class="col-12">
      <h4 class="my-5">
        <%= @member.last_name %><%= @member.first_name %>さんの会員詳細
      </h4>
      <div class="row">
        <p class="col-3">会員ID</p>
        <p><%= @member.id %></p>
      </div>
      <div class="row">
        <p class="col-3 my-2">氏名</p>
        <p class="my-2"><%= @member.last_name %> <%= @member.first_name %></p>
      </div>
      <div class="row">
        <p class="col-3 my-3">フリガナ</p>
        <p class="my-3"><%= @member.last_name_kana %> <%= @member.first_name_kana %></p>
      </div>
      <div class="row">
        <p class="col-3 my-3">郵便番号</p>
        <p class="my-3"><%= @member.post_code %></p>
      </div>
      <div class="row">
        <p class="col-3 my-3">住所</p>
        <p class="my-3"><%= @member.address %></p>
      </div>
      <div class="row">
        <p class="col-3 my-3">電話番号</p>
        <p class="my-3"><%= @member.phone_number %></p>
      </div>
      <div class="row">
        <p class="col-3 my-3">メールアドレス</p>
        <p class="my-3"><%= @member.email %></p>
      </div>
      <div class="row">
        <p class="col-3 my-3">会員ステータス</p>
      <div>
        <% if @member.member_status == true %>
          <p class="text-success my-3"><strong>有効</strong></p>
        <% else %>
          <p class="text-danger my-3"><strong>退会</strong></p>
        <% end %>
      </div>
      </div>
      <div class="row offset-3 mt-3">
        <%= link_to "編集する", edit_master_member_path, class: "btn btn_success" %>
        <%= link_to "注文履歴一覧画面をみる", master_orders_path, class: "btn btn_primary offset-1" %>
      </div>
    </div>
  </div>
</div>
