<div class="container">
  <div class="row">
    <div class="col-12">
      <h4 class="my-4">
        <%= @member.last_name %><%= @member.first_name %>さんの会員詳細
      </h4>
      <table class="table">
        <tr>
          <th>会員ID</th>
          <td><%= @member.id %></td>
        </tr>
        <tr>
          <th>氏名</th>
          <td><%= @member.last_name %> <%= @member.first_name %></td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td><%= @member.last_name_kana %> <%= @member.first_name_kana %></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td><%= @member.post_code %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @member.address %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= @member.phone_number %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @member.email %></td>
        </tr>
        <tr>
          <th>会員ステータス</th>
          <td>
            <% if @member.member_status == true %>
              <div class="text-success"><strong>有効</strong></div>
            <% else %>
              <div class="text-danger"><strong>退会</strong></div>
            <% end %>
          </td>
        </tr>
        <tr>
          <th></th>
          <td></td>
        </tr>
      </table>
      <div>
        <%= link_to "編集する", edit_master_member_path, class: "btn btn-success mr-5" %>
        <%= link_to "注文履歴一覧画面をみる", master_orders_path, class: "btn btn-primary ml-5" %>
      </div>
    </div>
  </div>
</div>