<div class='container'>
  <div class="text-danger">
    <% if @delivery.errors.any? %>
      <%= @delivery.errors.count %>件のエラーが発生しました
      <% @delivery.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>s
    <% end %>
  </div>
  <div class="row offset-1">
    <h4 class="mt-3 ribbon1">配送先登録 / 一覧</h4>
  </div>

    <%= form_with model:@delivery, local:true do |f| %>
      <div class="form-group row mt-3">
          <%= f.label :post_code, "郵便番号(ハイフンなし)", class: 'col-3 col-form-label' %>
        <div class="col-3">
          <%= f.text_field :post_code, class: 'form-control', placeholder:"0000000" %>
        </div>
      </div>

      <div class="form-group row mt-3">
          <%= f.label :address, "住所", class: 'col-3 col-form-label' %>
        <div class="col-7">
          <%= f.text_field :address, class: 'form-control', placeholder:"東京都代々木神園町0-0" %>
        </div>
      </div>

      <div class="form-group row mt-3">
        <%= f.label :name, "宛名", class: 'col-3 col-form-label' %>
        <div class="col-3">
          <%= f.text_field :name, class: 'form-control', placeholder:"令和道子" %>
        </div>
        <div class="offset-4">
        <%= f.submit '新規登録', class: "btn btn_success" %>
        </div>
      </div>
    <% end %>

  <div class='row'>
    <div class="mt-5">
    <table class="table table-bordered">
      <thead class="table-active">
        <tr>
          <th>郵便番号</th>
          <th>住所</th>
          <th>宛名</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @deliveries.each do |delivery| %>
          <tr>
            <td><%= delivery.post_code %></td>
            <td><%= delivery.address %></td>
            <td><%= delivery.name %></td>
            <td>
              <%= link_to '編集する', edit_delivery_path(delivery.id), class: "btn btn_success" %>
              <%= link_to '削除する', delivery_path(delivery.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn_danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>