<div class='container'>
  <div class="row">
    <div class='col-6'>
      <h2 class="head-line  my-5 ribbon1">マイページ</h2>
        <table class="table table-bordered">
          <div class="row">
            <h5 class ="col-3 my-1 end-0">登録情報</h5>
            <p><%= link_to '編集する', edit_members_path, class: "link btn btn_success" %></p>
          </div>
            <thead>
              <tbody>
                <tr>
                  <th scope="row">氏名</th>
                    <td colspan="2">
                      <%= @member.last_name %>
                      <%= @member.first_name %>
                      </td>
                </tr>
                <tr>
                  <th scope="row ">カナ</th>
                   <td colspan="2">
                     <%= @member.last_name_kana %>
                     <%= @member.first_name_kana %>
                    </td>
                </tr>
                <tr>
                  <th scope="row">郵便番号</th>
                    <td colspan="2"><%= @member.post_code %></td>
                  </tr>
                <tr>
                  <th scope="row">住所</th>
                    <td colspan="2"><%= @member.address%></td>
                </tr>
                <tr>
                  <th scope="row">電話番号</th>
                    <td colspan="2"><%= @member.phone_number %></td>
                  </tr>
                <tr>
                  <th scope="row">メールアドレス</th>
                   <td colspan="2"><%= @member.email %></td>
                </tr>
              </tbody>
            </thead>
        </table>
          <div class ="row">
            <h5 class ="col-3 my-1 end-0">配送先</h5>
              <p><%= link_to '一覧を見る', deliveries_path, class: "btn btn_primary" %></p>
          </div>
          <div class ="row">
          <h5 class ="col-3 my-1 end-0">注文履歴</h5>
          <p><%= link_to '一覧を見る', orders_path, class: "btn btn_primary" %></p>
        </div>
    </div>
  </div>