
<div class='container'>
  <div class="row">
    <div class='col-12'>
      <h2 class="head-line  my-5 ribbon1">ログイン</h2>
       <h6 class="head-line  my-6">会員の方はこちらからログイン</h6>
        <div class="row justify-content-center">
          <%= form_with model: @member, url: members_sign_in_path, local: true do |f| %>
          <%= render "member/shared/error_messages", resource: resource %>
          <div class="field mt-5">
            <%= f.label :メールアドレス, class: "mr-3"%>
            <%= f.text_field :email, autofocus: true, size:"50", class: "name" %>
          </div>
          <div class="field">
            <%= f.label :パスワード, class: "mr-5" %>
            <%= f.password_field :password, size:"50", autocomplete: "off", class: "password" %>
          </div>
          <div class="actions text-center mt-4">
            <%= f.submit "ログイン" ,class: 'btn btn_primary px-4'%>
          </div>
          <div class="col-xs-9">
           <h6 class="head-line title_h3 my-6">登録がお済みではない方</h6>
             <p class="new-link"> <%= render "member/shared/links" %> から新規登録を行ってください。
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
