<% if @genre.errors.any? %>
  <%= @genre.errors.count %>件のエラーが発生しました。ジャンルが記述されているか確認してください。

<% end %>
<div class='container'>
  <div class="row">
    <div class="col-10">
      <h4 class="offset-1 my-4">ジャンル一覧・追加</h4>
      <%= form_with model: @genre, url: '/master/genres', local: true do |f| %>
      <div class="field row form-group mb-5">
          <%= f.label :"ジャンル名", class: "col-3" %>
          <%= f.text_field :name, autofocus: true, placeholder:"ジャンル名", class: "col-4 form-control" %>
          <%= f.submit '新規登録', class: "btn btn-md btn_success offset-1" %>
      </div>
      <% end %>
    </div>
    <div class="col-6">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>ジャンル</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @genres.each do |genre| %>
          <tr>
            <td></td>
            <td>
              <%= genre.name %>
            </td>
            <td>
              <%= link_to "編集する", edit_master_genre_path(genre.id), class: 'btn btn_success' %>
            </td>
          </tr>
        <% end %>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>






