
<%= flash.now[:alert] %>
<div class="contener my-3">
  <div class="row">

    <div class="offset-1 col-6 my-1" >
      <h3 class="ribbon1">注文情報確認</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <% current_member.cart_items.each do |cart_item| %>
        <tbody>
          <tr>
            <td>
              <%= attachment_image_tag cart_item.item, :image, :fill, 70, 40 %>
              <%= cart_item.item.name %>
            </td>
            <td>
              <%= (cart_item.item.price * 1.1).floor.to_s(:delimited) %>
            </td>
            <td>
              <%= cart_item.count %>
            </td>
            <td>
              <%= (cart_item.item.price * 1.1 * cart_item.count).floor.to_s(:delimited) %>
              <% @total += (cart_item.item.price * 1.1 * cart_item.count).floor %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
    <div class = "offset-1 col-3 my-5" >
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>
              送料
            </td>
            <td>
              <%= 800 %>
            </td>
          </tr>
          <tr>
            <td>
              商品合計
            </td>
            <td>
              <%= @total.to_s(:delimited) %>
            </td>
          </tr>
          <tr>
            <td>
              請求金額
            </td>
            <td>
              <%= (@total+800).to_s(:delimited) %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class = "row my-5" >
    <div class = "offset-1 col-8">
      <h5><strong>支払方法</strong></h5> <p style = "margin: 10px"><%= @order.payment_method_i18n %></p>
      <h5><strong>お届け先</strong></h5> <p style = "margin: 10px">〒<%= @order.post_code %>   <%= @order.address %>  <%= @order.name %></p>

    <%= form_with model:@order, url:orders_path, local:true do |f| %>

      <%= f.hidden_field :payment_method ,:value => @order.payment_method %>
      <%= f.hidden_field :shipping ,:value => 800 %>
      <%= f.hidden_field :address,:value => @order.address %>
      <%= f.hidden_field :post_code,:value => @order.post_code %>
      <%= f.hidden_field :name,:value => @order.name %>
      <%= f.hidden_field :final_price ,:value => (@total+800) %>

      <%= f.submit "購入を確定する", class: "btn btn_success my-2" %>
    <% end %>
    </div>
  </div>
</div>