<h3>注文情報確認</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <% current_member.cart_items.each do |cart_item| %>
  <tbody>
    <tr>
      <td>
        <%= attachment_image_tag cart_item.item.image, :size => '50x50' %>
        <%= cart_item.item.name %>
      </td>
      <td>
        <%= cart_item.item.price * 1.1 %>
      </td>
      <td>
        <%= cart_item.item.count %>
      </td>
      <td>
        <%= cart_item.item.price * 1.1 * order_item.count %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>

<table class="table table-bordered">
  
  <tbody>
    <tr>
      <td>
        送料
      </td>
      <td>
        <%= 800 %>
      </td>
    </tr>
    <tr>
      <td>
        商品合計
      </td>
      <td>
        <%=  %>
      </td>
    </tr>
    <tr>
      <td>
        <%=  %>
      </td>
    </tr>
  </tbody>
</table>

支払方法 <%= @order.payment_method %>
お届け先　〒<%= @order.post_code %> <%= @order.address %> <%= @order.name %> 

<%= f.submit "購入を確定する", class: "btn btn-success" %>