<div class="container">
  <div class="col-12">
    <h4 class="my-5 ribbon1">注文履歴詳細</h4>
    <div class="row">
      <div class="col-7">
        <table class="table table-bordered">
          <h5>注文情報</h5>
          <tr>
            <th>注文日</th>
            <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
          </tr>
          <tr>
            <th>配送先</th>
            <td>
              〒<%= @order.post_code %><br>
              <%= @order.address %><br>
              <%= @order.name %>
            </td>
          </tr>
          <tr>
            <th>支払方法</th>
            <td><%= @order.payment_method_i18n %></td>
          </tr>
          <tr>
            <th>ステータス</th>
            <td>
              <%= @order.order_status_i18n %>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-5">
        <table class="table table-bordered">
          <h5>請求情報</h5>
          <tr>
            <th>商品合計</th>
            <td><%= @order.final_price - @order.shipping %></td>
          </tr>
          <tr>
            <th>配送料</th>
            <td><%= @order.shipping %></td>
          </tr>
          <tr>
            <th>ご請求額</th>
            <td><%= @order.final_price %></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered">
          <h5>注文内容</h5>
          <thead>
            <tr>
              <th>商品</th>
              <th>単価（税込み）</th>
              <th>個数</th>
              <th>小計</th>
            </tr>
          </thead>
          <tbody>
            <% @order.order_items.each do |order_item| %>
          <tr>
            <td><%= order_item.item.name %></td>
            <td><%= order_item.item.taxin_price.floor.to_s(:delimited) %></td>
            <td><%= order_item.count %></td>
            <td><%= (order_item.item.taxin_price.floor * order_item.count).to_s(:delimited) %></td>
          </tr>
        <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
