<div class="container">
  <div class="row">
    <div class="col-12">
      <h4 class="my-4">商品検索結果</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>商品画像</th>
            <th>商品名</th>
            <th>商品説明</th>
            <th>税込み価格</th>
          </tr>
        </thead>
        <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= attachment_image_tag(item, :image,:fill, 100, 80) %></td>
            <td>
              <%= link_to item_path(item.id) do %>
              <%= item.name %>
              <% end %>
            </td>
            <td><%= item.description %></td>
            <td><%= item.taxin_price.floor.to_s(:delimited) %>円</td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <div>
      <%= paginate @items %>
      </div>
    </div>
  </div>
</div>