<h2>商品詳細</h2>

<%= attachment_image_tag (item, :image, size: "100x100") %>
<%= item.name %>
<%= item.description %>
<%= item.price %>

<%= form_with model: @item, local:true do |f| %>
  <%= f.select :count,[["1","1"],["2","2"],["3","3"]],include_blank: "個数選択" %>
  <%= f.submit 'カートに入れる', class: "btn btn-sm btn-success" %>
<% end %>