<div class="container">
  <div class="row mt-5">
    <div class="col-3">
      <%= render 'sidebar' %>
    </div>
    <div class="col-4 offset-md-1">
      <%= attachment_image_tag(@item, :image,:fill, 200, 200) %>
    </div>
    <div class="col-4">
      <h3><%= @item.name %></h3>
      <p><%= @item.description %></p>
      <p><strong>¥ <%= @item.taxin_price.floor.to_s(:delimited) %></strong><small>（税込）</small></p>
    </div>
  </div>
  <div class="row">
    <div class="col-4 offset-md-8">
      <%= form_with model: @cart_item, url: cart_items_path, local:true do |f| %>
      <%= f.select :count,[["1","1"],["2","2"],["3","3"],["4","4"],["5","5"]], include_blank: "個数選択" %>
      <%= f.hidden_field :item_id, :value => @item.id %>
      <%= f.submit 'カートに入れる', class: "btn btn-sm btn-success" %>
      <% end %>
    </div>
  </div>
</div>