<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

     <h2>商品編集</h2>
     <% if @item.errors.any? %>
     <div class="notification is-danger">
      <h2><%= pluralize(@item.errors.count, "error") %>件のエラーが発生しました</h2>
       <ul>
        <% @item.errors.full_messages.each do |message| %>
         <li><%= message %></li>
        <% end %>
      </ul>
     </div>
　　<% end %>

<%= form_with model:@item,url:master_item_path(@item.id), local:true do |f| %>
  <div class="form-group">
    <%= f.label :商品画像 %>
    <%= f.attachment_field :image %>
  </div>
  <div class="form-group">
    <%= f.label :商品名 %>
    <%= f.text_field :name, class: 'form-control ' %>
  </div>
  <div class="form-group">
    <%= f.label :商品説明 %>
    <%= f.text_area :description, class: 'form-control ' %>
  </div>
  <div class="form-group">
    <%= f.label :ジャンル %>
    <%= f.collection_select :genre_id, Genre.all, :id, :name,  class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :税抜価格 %>
    <%= f.text_field :price, class: 'form-control ' %>
  </div>
  <div class="form-group">
    <%= f.label :販売ステータス %>

    <%= f.radio_button :sales_status, true %> 販売中
    <%= f.radio_button :sales_status, false %> 販売停止
  </div>

  <div class="form-group">
    <%= f.submit "変更を保存", class: 'btn btn_success' %>
  </div>
<% end %>

</div>
</div>
</div>