<h3>商品新規登録</h3>
<%= form_with model: @item, url:"/master/items", local: true do |f| %>

  <div>
    商品画像
    <%= f.attachment_field :image %>
  </div>
  <div>
    商品名
    <%= f.text_field :name %>
  </div>
  <div>
    商品説明
    <%= f.text_area :description %>
  </div>
  <div>
    ジャンル
    <%= f.collection_select :genre_id, Genre.all, :id, :name, { prompt: '選択してください' }, class: 'form-control' %>
  </div>
  <div>
    税抜価格
    <%= f.text_field :price %>円
  <div>
  <div>
    販売ステータス
    <div>
      <%= f.radio_button :sales_status, true %> 販売中
    </div>
    <div>
      <%= f.radio_button :sales_status, false %> 販売停止
    </div>
  </div>

    <%= f.submit '新規登録' %>

<% end %>