<% if @item.errors.any? %>
  <%= @item.errors.count %>件のエラーが発生しました。全ての項目が記述されているか確認してください。

<% end %>

<div class='container'>
  <div class='row'>
    <div class="col-12">
    <h4 class="row offset-1 my-5">商品新規登録</h4>
    <%= flash.now[:alert] %>
    <%= form_with model: @item, url:"/master/items", local: true do |f| %>
      <div class="row form-group">
        <%= f.label :商品画像, class: "col-3" %>
        <%= f.attachment_field :image %>
      </div>
        <div class="row form-group">
        <%= f.label :商品名, class: "col-3" %>
        <%= f.text_field :name, placeholder:"商品名", class: 'col-6 form-control' %>
      </div>
      <div class="row form-group">
        <%= f.label :商品説明, class: "col-3" %>
        <%= f.text_area :description, placeholder:"ここに説明文を記述します", class: 'col-6 form-control' %>
      </div>
      <div class="row form-group">
        <%= f.label :ジャンル, class: "col-3" %>
        <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %>
      </div>
      <div class="row form-group">
        <%= f.label :税抜価格, class: "col-3" %>
        <%= f.text_field :price, placeholder:"1000", class: 'col-6 form-control' %>
      </div>
      <div class="row form-group">
        <%= f.label :販売ステータス, class: "col-3"  %>
        <%= f.radio_button :sales_status, true %> 販売中
        <%= f.radio_button :sales_status, false, class: "offset-1" %> 販売停止
      </div>
      <div class="form-group">
        <%= f.submit "新規登録", class: 'btn btn_success btn-lg offset-5' %>
      </div>
    <% end %>
    </div>
  </div>
</div>