<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="header">
      <nav class="navbar navbar-expand-lg navbar-light" >
        <div class="container">
          <div>
            <%= link_to root_path, class: "navbar-brand", local: true do %>
              <%= image_tag 'logo.png', size: "150x100"%>
              <h5>NAGANOCAKE</h5>
            <% end %>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse flex-column" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if member_signed_in? %>
                <div class="mt-1 mr-5"><strong>ようこそ、<%= current_member.last_name %>さん！</strong></div>
                <li class="nav-item mr-1"><%= link_to "マイページ", members_path, class: "nav-link fas fa-user-cog" %></li>
                <li class="nav-item mr-1"><%= link_to "商品一覧", items_path, class: "nav-link fas fa-cheese" %></li>
                <li class="nav-item mr-1 "><%= link_to "カート", cart_items_path, class: "nav-link fas fa-shopping-cart" %></li>
                <li class="nav-item mr-1"><%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: "nav-link fas fa-sign-out-alt" %></li>
              <% elsif admin_signed_in?%>
                <li class="nav-item mr-1"><%= link_to "商品一覧", master_items_path, class: "nav-link fas fa-cheese" %></li>
                <li class="nav-item mr-1"><%= link_to "会員一覧", master_members_path, class: "nav-link fas fa-users" %></li>
                <li class="nav-item mr-1"><%= link_to "注文履歴一覧", master_orders_path, class: "nav-link fab fa-stack-exchange" %></li>
                <li class="nav-item mr-1"><%= link_to "ジャンル一覧", master_genres_path, class: "nav-link fas fa-list-alt" %></li>
                <li class="nav-item mr-1"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link fas fa-sign-out-alt" %></li>
              <% else %>
                <li class="nav-item mr-1"><%= link_to "About", about_path, class: "nav-link fas fa-store" %></li>
                <li class="nav-item mr-1"><%= link_to "商品一覧", items_path, class: "nav-link fas fa-cheese" %></li>
                <li class="nav-item mr-1"><%= link_to "新規登録", new_member_registration_path, class: "nav-link fas fa-user-plus" %></li>
                <li class="nav-item mr-1"><%= link_to "ログイン", new_member_session_path, class: "nav-link fas fa-sign-in-alt" %></li>
              <% end %>
              <div class="mr-3">
                <%= link_to url: "#", class:"btn-social-icon-instagram" do %>
                  <span class="btn-social-icon-instagram__square"><i class="fab fa-instagram fa-sm"></i></span>
                <% end %>
              </div>
              <div class="mr-1">
                <%= link_to url: "#", class:"btn-social-icon-twitter" do %>
                  <span class="btn-social-icon-twitter__square"><i class="fab fa-twitter fa-sm"></i></span>
                <% end %>
              </div>
            </ul>
            <div class="row ml-auto mr-1">
              <%= form_with url: search_path, method: :get, class: "search form-inline", local: true do |f| %>
                <%= f.text_field 'search[value]', placeholder:"商品名", class: "search_form" %>
                <%= f.hidden_field 'search[how]', value: "partical" %>
                <%= f.submit "検索", class: "btn" %>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer class="fixed-bottom">
      <div class="footer">
        <div class="row">
          <div class="py-4"></div>
        </div>
      </div>
    </footer>
  </body>
</html>
